@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Heebo', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#1e3a8a, #0a1929 80%);
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}
.outline-text {
  -webkit-text-stroke: 1px white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
